# Database Configuration
DB_USER=reviewloom_admin
DB_PASSWORD=123456
DB_NAME=reviewloomdb
DB_PORT=5432

# Clerk Authentication Keys
CLERK_AUTHORITY=https://
CLERK_WEBHOOK_SECRET=whsec_
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b
CLERK_SECRET_KEY=sk_test_

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=d
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe Configuration
STRIPE_API_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_
STRIPE_PRICE_MONTHLY=price_
STRIPE_PRICE_YEARLY=price_

# Frontend Environment Variables (Build time)
NEXT_PUBLIC_API_URL=http://localhost:5275/api/v1
